<a href="https://colab.research.google.com/github/Pythonyatra/Kaggle-Titanic/blob/master/TitanicData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# def upload_kaggle_jason():
  
#   from google.colab import files
#   files.upload()

#   print('kaggle.json uploaded.')

In [3]:
upload_kaggle_jason()

Saving kaggle.json to kaggle.json
kaggle.json uploaded.

In [4]:
# def download_data():

#   !pip install kaggle
#   !mkdir ~/.kaggle
#   !cp kaggle.json ~/.kaggle
#   !chmod 600 ~/.kaggle/kaggle.json
#   !kaggle competitions download -c titanic
#   !mkdir datasets
#   !mv *.zip ./datasets/
#   !ls ./datasets
#   !unzip datasets/test_features.csv.zip
#   !unzip datasets/train_features.csv.zip
#   !unzip datasets/train_targets_nonscored.csv.zip
#   !unzip datasets/train_targets_scored.csv.zip
#   !unzip datasets/sample_submission.csv.zip
#   !mv *.csv ./datasets/

#   %cd datasets
#   !rm *.zip
  

#   print('Required data can be found under datasets')

In [ ]:
download_data()

In [7]:
import pandas as pd

In [11]:
train = pd.read_csv('/content/datasets/train.csv')
test = pd.read_csv('/content/datasets/test.csv')

In [13]:
print(train.shape)
print(test.shape)

(891, 12)
(418, 11)

In [16]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [17]:
train.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [15]:
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [18]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200